.banner {
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  margin: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label {
  margin: 0px 40px;
}
.itembox {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.imgDiv {
  height: 280px;
}
.dscrptnDiv {
  height: 100px;
  margin: 0px 10px;
}
.prod {
  text-decoration: none;
}
.text {
  text-align: center;
  line-height: 38px;
}
.aboutProduct {
  height: 250px;
  border-radius: 10px;
}
.aboutImgDiv {
  height: 80%;
}
textarea {
  height: 100px;
}
.description {
  line-height: 25px;
  letter-spacing: 0.5px;
}
.title {
  letter-spacing: 0.4px;
  line-height: 48px;
}
.divImg {
  height: 200px;
}
/* .font {
  width: 45%;
  font-weight: 10px;
} */
.scrol {
  animation: scrolling 10s linear infinite;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.color1 {
  background-color: rgb(243, 237, 237);
}
.childDiv {
  height: 130px;
}
.eleImg {
  object-fit: contain;
  width: 50%;
  height: 100%;
}
